--
-- PostgreSQL database dump
--

\restrict K7FI804pRecbndBgb0knfQB33SBSf3wobeT510CX3MmtFLJcLvmzt7zN29nCbbE

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN',
    'MODERATOR'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: beers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.beers (
    id text NOT NULL,
    name text NOT NULL,
    brand text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    description text,
    image text,
    "imageKey" text,
    abv double precision,
    ibu integer,
    origin text,
    state text,
    "servingTemp" text,
    price double precision,
    rating double precision DEFAULT 0 NOT NULL,
    "isCraft" boolean DEFAULT false NOT NULL,
    "isPremium" boolean DEFAULT false NOT NULL,
    "tastingNotes" text,
    color text,
    aroma text,
    flavor text,
    pairing text,
    "glassType" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: clap_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.clap_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cocktail_favorites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cocktail_favorites (
    id text NOT NULL,
    "userId" text NOT NULL,
    "cocktailId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: cocktail_ingredients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cocktail_ingredients (
    id text NOT NULL,
    "cocktailId" text NOT NULL,
    "ingredientId" text NOT NULL,
    amount text NOT NULL,
    unit text,
    "order" integer
);


--
-- Name: cocktail_instructions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cocktail_instructions (
    id text NOT NULL,
    "cocktailId" text NOT NULL,
    step integer NOT NULL,
    instruction text NOT NULL,
    "order" integer
);


--
-- Name: cocktail_reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cocktail_reviews (
    id text NOT NULL,
    "userId" text NOT NULL,
    "cocktailId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: cocktails; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cocktails (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    image text,
    "imageKey" text,
    category text NOT NULL,
    difficulty text NOT NULL,
    "time" text NOT NULL,
    abv double precision,
    "isClassic" boolean DEFAULT false NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    rating double precision DEFAULT 0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "ingredientsText" jsonb,
    story text,
    trivia text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: continent_code_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.continent_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ingredients (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    description text,
    image text,
    "imageKey" text,
    season text,
    origin text,
    nutrition jsonb,
    storage text,
    "shelfLife" text,
    "isEssential" boolean DEFAULT false NOT NULL,
    abv text,
    flavor text,
    intensity text,
    color text,
    aroma text,
    texture text,
    uses text,
    substitutes text,
    preparation text,
    pairings text,
    benefits text,
    precautions text,
    brand text,
    price text,
    volume text,
    concentration text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: language_code_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.language_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.newsletter_subscribers (
    id text NOT NULL,
    email text NOT NULL,
    source text DEFAULT 'home'::text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: post_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: spirits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.spirits (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    brand text,
    producer text,
    owner text,
    description text,
    image text,
    "imageKey" text,
    abv double precision,
    origin text,
    denomination text,
    price double precision,
    rating double precision DEFAULT 0 NOT NULL,
    "isPremium" boolean DEFAULT false NOT NULL,
    composition text,
    aging text,
    color text,
    aroma text,
    taste text,
    finish text,
    "servingSuggestions" text,
    temperature text,
    pairings text,
    trivia text,
    presentations text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: techniques; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.techniques (
    id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    subcategory text,
    description text,
    image text,
    "imageKey" text,
    difficulty text,
    "timeRequired" text,
    steps jsonb,
    ingredients text,
    equipment text,
    tips text,
    "videoUrl" text,
    applications text,
    examples text,
    precautions text,
    benefits text,
    origin text,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: tools; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tools (
    id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    subcategory text,
    description text,
    image text,
    "imageKey" text,
    brand text,
    material text,
    size text,
    capacity text,
    price text,
    uses text,
    "howToUse" text,
    maintenance text,
    tips text,
    alternatives text,
    "isProfessional" boolean DEFAULT false NOT NULL,
    "isEssential" boolean DEFAULT false NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    origin text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_list_entry_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_list_entry_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_list_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    image text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: wines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wines (
    id text NOT NULL,
    name text NOT NULL,
    brand text NOT NULL,
    type text NOT NULL,
    category text NOT NULL,
    description text,
    image text,
    "imageKey" text,
    abv double precision,
    vintage text,
    origin text,
    region text,
    denomination text,
    "grapeVariety" text,
    winery text,
    "servingTemp" text,
    price double precision,
    rating double precision DEFAULT 0 NOT NULL,
    "isPremium" boolean DEFAULT false NOT NULL,
    "tastingNotes" text,
    color text,
    aroma text,
    taste text,
    body text,
    acidity text,
    tannins text,
    finish text,
    pairing text,
    awards text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Data for Name: beers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cocktail_favorites; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cocktail_favorites (id, "userId", "cocktailId", "createdAt") FROM stdin;
\.


--
-- Data for Name: cocktail_ingredients; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cocktail_ingredients (id, "cocktailId", "ingredientId", amount, unit, "order") FROM stdin;
cmmylyeyo00090sy04j34qt9b	cmmylyeyi00050sy0y9pyhmc6	cmmylyexz00010sy0jfzglkky	20	ml	1
cmmylyeyq000b0sy0wugwe8fk	cmmylyeyi00050sy0y9pyhmc6	cmmylyeya00020sy00m27kbrk	10	hojas	2
cmmylyeyt000d0sy05y4y7qz2	cmmylyeyi00050sy0y9pyhmc6	cmmylyeyc00030sy0n7662g4o	15	ml	3
\.


--
-- Data for Name: cocktail_instructions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cocktail_reviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cocktail_reviews (id, "userId", "cocktailId", rating, comment, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: cocktails; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: newsletter_subscribers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.newsletter_subscribers (id, email, source, "createdAt") FROM stdin;
\.


--
-- Data for Name: spirits; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: techniques; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.techniques (id, name, category, subcategory, description, image, "imageKey", difficulty, "timeRequired", steps, ingredients, equipment, tips, "videoUrl", applications, examples, precautions, benefits, origin, "isFeatured", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tools; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tools (id, name, category, subcategory, description, image, "imageKey", brand, material, size, capacity, price, uses, "howToUse", maintenance, tips, alternatives, "isProfessional", "isEssential", "isFeatured", origin, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, email, name, image, role, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: wines; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: clap_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.clap_id_seq', 1, false);


--
-- Name: continent_code_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.continent_code_seq', 3, true);


--
-- Name: language_code_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.language_code_seq', 457, true);


--
-- Name: post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.post_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_id_seq', 1, false);


--
-- Name: user_list_entry_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_list_entry_seq', 1, false);


--
-- Name: user_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_list_id_seq', 1, false);


--
-- Name: user_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_sequence', 4, true);


--
-- Name: beers beers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.beers
    ADD CONSTRAINT beers_pkey PRIMARY KEY (id);


--
-- Name: cocktail_favorites cocktail_favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_favorites
    ADD CONSTRAINT cocktail_favorites_pkey PRIMARY KEY (id);


--
-- Name: cocktail_ingredients cocktail_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_ingredients
    ADD CONSTRAINT cocktail_ingredients_pkey PRIMARY KEY (id);


--
-- Name: cocktail_instructions cocktail_instructions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_instructions
    ADD CONSTRAINT cocktail_instructions_pkey PRIMARY KEY (id);


--
-- Name: cocktail_reviews cocktail_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_reviews
    ADD CONSTRAINT cocktail_reviews_pkey PRIMARY KEY (id);


--
-- Name: cocktails cocktails_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktails
    ADD CONSTRAINT cocktails_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- Name: spirits spirits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.spirits
    ADD CONSTRAINT spirits_pkey PRIMARY KEY (id);


--
-- Name: techniques techniques_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.techniques
    ADD CONSTRAINT techniques_pkey PRIMARY KEY (id);


--
-- Name: tools tools_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tools
    ADD CONSTRAINT tools_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wines wines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wines
    ADD CONSTRAINT wines_pkey PRIMARY KEY (id);


--
-- Name: cocktail_favorites_userId_cocktailId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "cocktail_favorites_userId_cocktailId_key" ON public.cocktail_favorites USING btree ("userId", "cocktailId");


--
-- Name: cocktail_ingredients_cocktailId_ingredientId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "cocktail_ingredients_cocktailId_ingredientId_key" ON public.cocktail_ingredients USING btree ("cocktailId", "ingredientId");


--
-- Name: cocktail_reviews_userId_cocktailId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "cocktail_reviews_userId_cocktailId_key" ON public.cocktail_reviews USING btree ("userId", "cocktailId");


--
-- Name: newsletter_subscribers_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX newsletter_subscribers_email_key ON public.newsletter_subscribers USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: cocktail_favorites cocktail_favorites_cocktailId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_favorites
    ADD CONSTRAINT "cocktail_favorites_cocktailId_fkey" FOREIGN KEY ("cocktailId") REFERENCES public.cocktails(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_favorites cocktail_favorites_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_favorites
    ADD CONSTRAINT "cocktail_favorites_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_ingredients cocktail_ingredients_cocktailId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_ingredients
    ADD CONSTRAINT "cocktail_ingredients_cocktailId_fkey" FOREIGN KEY ("cocktailId") REFERENCES public.cocktails(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_ingredients cocktail_ingredients_ingredientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_ingredients
    ADD CONSTRAINT "cocktail_ingredients_ingredientId_fkey" FOREIGN KEY ("ingredientId") REFERENCES public.ingredients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_instructions cocktail_instructions_cocktailId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_instructions
    ADD CONSTRAINT "cocktail_instructions_cocktailId_fkey" FOREIGN KEY ("cocktailId") REFERENCES public.cocktails(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_reviews cocktail_reviews_cocktailId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_reviews
    ADD CONSTRAINT "cocktail_reviews_cocktailId_fkey" FOREIGN KEY ("cocktailId") REFERENCES public.cocktails(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cocktail_reviews cocktail_reviews_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cocktail_reviews
    ADD CONSTRAINT "cocktail_reviews_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict K7FI804pRecbndBgb0knfQB33SBSf3wobeT510CX3MmtFLJcLvmzt7zN29nCbbE

